.page {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background-color: #fcdce1;
  /* font-family: "Gilroy", Arial, Helvetica, sans-serif; */
  font-family: Circe, Helvetica, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
