.header {
  width: 100%;
  min-height: 953px;
  background-image: url(../../images/headerback.jpg);
  display: flex;
  align-items: flex-end;
}

.header__links_button {
  width: 80px;
  height: 80px;
  border: 0.1px solid white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.header__links_button:hover {
  transform: scale(1.1);
}


.header__links {
  width: 800px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 25px;
  margin-left: 300px;
}
